menu "Button IO Configuration"
    config BTN_TASK_STACK_SIZE
        int "Task stack size in bytes"
        default 3072
	comment "Button io configuration for Lilygo GPS Logger"
        config BTN_GPIO_INPUT_0
            int "GPIO 0 input"
            default 3 if HAS_BOARD_LILYGO_T_DISPLAY_S3
            default 39
            help
                Specify the io pad for start/stop/reset/wifi button.
        config BTN_GPIO_INPUT_1_ACTIVE
            bool "Gpio pin 1 is used"
            default true
            help
                Select when there is button active on gpio input 1
        config BTN_GPIO_INPUT_1
            depends on BTN_GPIO_INPUT_1_ACTIVE
            int "GPIO 1 input"
            default 2 if HAS_BOARD_LILYGO_T_DISPLAY_S3
            default 12
            help
                Specify the io pad for screen button.
        config BTN_GPIO_INPUT_SHORT_PRESS_DURATION_MS
            int "Short press duration"
            default 200
            help
                Specify short press duration in milliseconds
        config BTN_GPIO_INPUT_SHORT_PRESS_REPEAT_MS
            int "Short press repeat time"
            default 50
            help
                Specify short press repeat time in milliseconds
        config BTN_GPIO_INPUT_LONG_PRESS_DURATION_MS
            int "Long press duration"
            default 1500
            help
                Specify long press duration in milliseconds
        config BTN_GPIO_INPUT_LONG_PRESS_REPEAT_MS
            int "Long press repeat time"
            default 50
            help
                Specify long press repeat time in milliseconds
        config BTN_GPIO_INPUT_LONG_LONG_PRESS_DURATION_MS
            int "Long long press duration"
            default 4000
            help
                Specify long long press duration in milliseconds
        config BTN_GPIO_INPUT_LONG_LONG_PRESS_REPEAT_MS
            int "Long long press repeat time"
            default 50
            help
                Specify long long press repeat time in milliseconds
    endmenu
